@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
   
  }
  .pnp{
    width: 30px;
    height: 30px;
  }
  body{
    background-color:#2f4858;
   
  }
  
  .container{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    }
  
  
  
  .header{
    grid-column: 1/2;
    grid-row: 1/3;
    }
  
    .img-header {
    width: 150px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .img-header img {
    width: 100%;
    border-radius: 50%;
    
  }
  
  .name-header{
    width: 250px;
    height: 80px;
    margin: 0 auto ;
    margin-top: 20px;
    text-align: center;
  }
  
  .name{
    margin: 0 auto;
  }
  
  
  
  .logo-menu {
     
    margin-top: 20px;
  }
  
  .logo{
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .logo img{
    width: 150px;
    margin-left: 60px;
  }
  
  
  .menu{
    margin-top: 30px;
    
  }
  
  .menu a{
    display: block;
    text-align:center ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #f26419;
    padding: 10px;
  }

  .menu nav a:hover{
    background-color: #86bbd8;
  }
  
  .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social a {
    margin: 0 5px;
  }
  


  
  /*intro*/
  .main-one{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(img/homePage-Img/rsz_pexels-gagareen-code.jpg);
  }
  
  #welcome,  #page-name {
    width: 200px;
    margin:  0 auto;
    margin-top: 90px;
  
  }

  #hire{
    width: 250px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .hire-btn{
    font-size: 45px;
   text-decoration: none;
    font-weight: bold;
    color: #f26419;
    text-align: center;
  }

  .hire-btn:hover{
    background-color: #2f4858;
    transition: 0.5s ;
    color: #F6AE2D;
  }
  
    .welcome, .page-names
    {
    font-size: 45px;
    font-weight: bold;
    color: #f26419;
    text-align: center;
    margin-top: 50px;
  }
  
  #address{
    width: 250px;
    margin:  0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .country{
    font-size: 25px;
    font-weight: bold;
    color: #f26419;
    text-align: center;
  }
    
  
  
   /*about me*/
  .main-two{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #86bbd8;
    height: 300px;
    margin-top: 60px;
  
  }
  
  .about-me{
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 25px;
    color: #f26419;
  }

  .hide {
    display: none;
  }
  
  .me:hover + .hide {
    display: block;
    color: red;
  }

  .pap{
    margin-top: 10px;
  }

  #about-me p{
    line-height: 1.6;

  }




  
    
/*tecnologies*/
.main-three{
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(7,auto);
    margin-top: 60px;
    justify-items: center;
      

}
#tecno{
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 25px;
    color: #f26419;
}

.lenguage{
   
    grid-row: 2/3;
    margin-top: 30px;
    
    
}
  
  
  
  /*contac me*/
  .main-four{
      grid-column: 1/3;
      grid-row: 4/5;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(5,auto);
      margin-top: 60px;
      border: 1px solid #f26419;
      background-color: #F6AE2D;
    }

    #contact{
        grid-column: 1/3;
        grid-row: 1/2;
       
        
    }

    .cm{
        grid-column: 1/8;
        grid-row: 1/2;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        font-size: 25px;
        color: #f26419;
    }

    .hire{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .hireMe{
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: #2f4858;
        border: 1px solid #f26419;
        width: 100px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        color: #86bbd8;
    }

    .contact-line{
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: #2f4858;
        border: 1px solid #f26419;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        color: #86bbd8;  
    }

    .mail{ 
        grid-column: 1/2;
        grid-row: 4/5;
        background-color: #2f4858;
        border: 1px solid #f26419;
        width: 300px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        color: #86bbd8;
    }

    .ld{
        grid-column: 1/3;
        grid-row: 5/6;
        background-color: #2f4858;
        border: 1px solid #f26419;
       
        width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        color: #86bbd8;
        margin-bottom: 5px;
        
    }
   
    .linkedin{
      background-color: #2f4858;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 25px;
        color: #86bbd8;
        text-decoration: none;
    }

  
 

    /* css for the form area*/

form {
    margin: 0 auto;
    margin-top: 20px;
    background-color: #2f4858;
    width: 400px;
    padding: 1em;
    border: 1px solid#f26419;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
    
}
  
form label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
}



  /* footer */
.footer{
    grid-column: 1/3;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .copy{
    grid-column: 1/2;
    font-size: 18px;
    color: #f26419;
   
  }
  .up{
    grid-column: 2/3;
    font-size: 18px;
    color: #f26419;
  }

  .site{
    grid-column: 3/4;
    font-size: 18px;
    color: #f26419;
  }

  .footer a{
    font-size: 18px;
    color: #f26419;
    text-decoration: none;
  }



  /*section main 1 (page 2)*/

  .main1{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto repeat(3, 1fr);
    gap: 10px;
    border: 2px solid black;
    background-image: url(img/studyPage-Img/rsz_rsz_low-angle-stacked-books-graduation-cap-ladders-education-day.jpg);
    
   
  }

  .content-main2{
    grid-column: 1/3;
    grid-row: 1/2;
    border: 2px solid black;
  }

  .name2{
   
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #f26419;
  }

  .parrafo{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .intro{
    margin-top: 40px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
  }

  .list1{

    grid-column: 1/2;
    grid-row: 3/4;
    border: 2px solid black;
    margin-top: 10px;

  }

  

  .list2{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 2px solid black;
    margin-top: 10px;

  }

  .list3{
    grid-column: 1/2;
    grid-row: 4/5;
    border: 2px solid black;
    margin-top: 10px;

  }

  .list4{
    grid-column: 2/3;
    grid-row: 4/5;
    border: 2px solid black;
    margin-top: 10px;

  }

  /*titulos education page 2*/

  #education{
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;  
  }

  .list5{
    grid-column: 1/2;
    grid-row: 1/2;
    border: 2px solid black;
    margin-top: 10px
    
  }

  .list6{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 2px solid black;
    margin-top: 10px
    
  }

  .list7{
    grid-column: 3/4;
    grid-row: 1/2;
    border: 2px solid black;
    margin-top: 10px
    
  }

  #list8{
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    border: 2px solid black;
    margin-top: 10px
    
  }

  .studies{
    grid-column: 1/2;
    grid-row: 1/2;
    border: 2px solid black;
    margin-top: 10px
  }

  .ul{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid black;
    margin-top: 10px

  }

  .sof{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid black;
    margin-top: 10px
    
  }






  /*page 3 projects*/



  #main-1{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
 
  .nt{
    grid-column: 1/3;
    grid-row: 1/2;
    border: 2px solid black;
    margin-top: 10px

  }

  .alura{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid black;
    margin-top: 10px

  }

  .sar{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 240px;
    height: 240px;
    border: 2px solid black;
    margin-top: 10px

  }

  .encriptador{
    grid-column: 1/2;
    grid-row: 3/4;
   
    border: 2px solid black;
    margin-top: 10px

  }

  .rafting{
    grid-column: 2/3;
    grid-row: 3/4;
   
    border: 2px solid black;
    margin-top: 10px

  }




  /*galery*/

  #gallery{
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
   
  }

  .n-m{
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 0 auto;
    margin-top: 40px;
  }

  .name-titular{
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: #f26419;
  }

 .demo{
  width: 242px;
  height: 323px;
 }

  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .content {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
 
  



  